# Eclipse
*.classpath
*.project
*.settings/

# Java build
**/bin/
**/build/
**/target/
*.class

# Packaging
*.jar
*.war
*.ear

# Logs and temp
*.log
*.tmp
*.bak
*.swp

# OS
.DS_Store
Thumbs.db

# Security
*.env
*.key
*.pem
**/.metadata/
